<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="index.css">
    <link rel="icon" href="img/EducaBit_logo.png" type="image/png">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>EDUCABIT</title>
</head>
<body style="background-color: #f5f5f5;">
  <div class="menu">
      <nav class="navegacao">
       <a href="tela_inicial.html"><img src="img/EducaBit_logo.png" class="logo"></a>
        <button type="button" class="btn btn-info" style="color: white;font-weight: bold; margin-left: 70%;">Login</button>
        <div class="container-fluid">
  <form class="d-flex position-relative" role="search">
    <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search"/>
    <i class="bi bi-search position-absolute" 
       style="left: 40%; top: 50%; transform: translateY(-50%); color: gray;"></i>
  </form>
        </div>
      </nav>
    </div>

    <div class="conteudo" style="margin-bottom: 10%;">
        <div class="box">
           <img src="img/explorar_img1.png" style="width: 600px; height: auto; margin-left: 10%;">
        </div>
       <div class="box" style="text-align: justify; margin-top: 10%; font-size: 18px; width: 40%; margin-left: 5%;">
         <p>Os jogos desplugados são atividades lúdicas que não dependem de computadores ou internet, perfeitos para desenvolver o raciocínio lógico, a criatividade e o trabalho em equipe. Na educação, eles são grandes aliados dos professores, pois tornam a aprendizagem mais dinâmica, acessível e divertida. Seja para ensinar programação, resolver problemas ou estimular o pensamento crítico, os jogos desplugados aproximam os alunos do conhecimento de forma prática e colaborativa!</p>
        </div>

       <div class="box" style="text-align: justify; margin-top: 10%; font-size: 18px; width: 40%; margin-left: 5%;">
         <p>Os jogos plugados utilizam computadores, tablets ou celulares para transformar o aprendizado em uma experiência interativa e envolvente. Eles permitem que os professores explorem conteúdos de forma mais atrativa, usando recursos multimídia para reforçar conceitos e estimular a curiosidade. Além de desenvolver habilidades digitais, os jogos plugados ajudam na autonomia dos alunos e tornam a sala de aula ainda mais conectada com o mundo atual!</p>
        </div> 
       <div class="box">
           <img src="img/explorar_img2.png" style="width: 600px; height: auto; margin-left: 10%;">
        </div> 
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>