<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="icon" href="img/EducaBit_logo.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>EDUCABIT</title>
</head>
<body style="background-color: #e7e7eb;">
    <div class="layout">
        <!--MENU PADRÃO-->
        <aside class="sidebar">
            <div class="logo-box">
                <img src="img/EducaBit_logo.png" alt="logo">
            </div>
            <nav class="menu">
                <a href="inicio_educabit.html" class="menu-item">Home</a>
                <a href="jogos.html" class="menu-item">Jogos</a>
                <a href="aulas.html" class="menu-item active">Aulas</a>
                <a href="forum.html" class="menu-item">Fórum</a>
                <a href="sobre.html" class="menu-item">Sobre</a>
            </nav>
            <a class="logout" href="tela_inicial.html"><i class="bi bi-box-arrow-left"></i> Logout Account</a>
        </aside>
        <!---->

        <main class="content">
            <header class="header">
                <h4>Aulas</h4>
             <i class="bi bi-person-circle user-icon"></i>
            </header>
            <section class="main-area">
                <div class="card-center">
                    <i class="bi bi-book book-icon"></i>
                    <h6>Escolha seu tópico de aula</h6>
                </div>
                <div class="card-topicos">
                    <h6 class="titulo-topicos">Tópicos</h6>
                    <p class="topic active-topic">O QUE É PENSAMENTO COMPUTACIONAL</p>
                    <p class="topic">DECOMPOSIÇÃO</p>
                    <p class="topic" onclick="">PADRONIZAÇÃO</p>
                    <p class="topic">ABSTRAÇÃO</p>
                    <p class="topic">LÓGICA DE PROGRAMAÇÃO</p>
                </div>
            </section>
        </main>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>
