body,
html {
    font-family: 'Poppins', sans-serif !important;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.navegacao {
    width: 100%;
    box-shadow: 0 0 10px rgb(0, 0, 0, .2);
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-itens {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 80px;
    height: auto;
    margin-top: 5px;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    padding: 20px;
}

.login_campo {
    margin-top: 50px;
    width: 30%;
    height: auto;
    margin-left: 36%;
}

.planos_grade {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.plano {
    border: 1px solid #8080807c;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    text-align: center;
    background-color: #ffffff;
}

.plano p {
    font-size: 15px;
}

.beneficios {
    margin-top: 10%;
    text-align: justify;
    width: 80%;
}


.layout {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 260px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .2);
    background-color: white;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.logo-box {
    text-align: center;
}

.logo-box img {
    width: 120px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 25px;
}

.menu-item {
    text-decoration: none;
    color: #5f5f5f;
    font-size: 14px;
    transition: 0.2s;
    font-weight: bold !important;
}

.menu-item:hover {
    color: #006dac98;
}

.logout {
    margin-top: 90%;
    color: #d9534f;
    cursor: pointer;
    font-size: 14px;
    padding-left: 25px;
}

.logout i {
    margin-right: 6px;
}

.content {
    flex: 1;
    padding: 25px 40px;
}

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-harder-aparente {
    flex: 1;
}

.header-superior-aparente {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 98px;
    border: 1px solid #8080807c;
    padding: 40px;

}

.header h4,
.header-superior-aparente h4 {
    font-weight: 600;
}

.header a {
    text-decoration: none;
    color: black;
}

.user-icon {
    font-size: 32px;
}

.main-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.card-center {
    width: 60%;
    height: 350px;
    background-color: white;
    border-radius: 12px;
    text-align: center;
    padding-top: 80px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.book-icon {
    font-size: 55px;
    margin-bottom: 15px;
}

.card-topicos {
    width: 30%;
    background-color: white;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.card-topicos a {
    text-decoration: none;
}

.card-topicos img {
    width: 90%;
    height: auto;
}

.titulo-topicos {
    font-weight: 600;
    margin-bottom: 20px;
}

.topic {
    color: #5f5f5f;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.topic:hover {
    color: #006dac98;
}

.conteudo_sobre {
    margin-left: 200px;
    padding: 10px;
    width: 600px;
}

.conteudo_sobre img {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.conteudo_sobre p {
    text-align: justify;
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 10px;
}

.conteudo_sobre i {
    color: #f5ad00;
}

.carrosel img {
    border-radius: 20px;
}

.card-topicos img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contem_user {
    width: 100%;
    padding: 40px 60px;
}

.header_user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.header_user h4 {
    font-size: 32px;
    font-weight: 600;
}

.header_user i {
    font-size: 24px;
    color: black;
    cursor: pointer;
}

.conteudo_user {
    width: 60%;
    background: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    margin-left: 20%;
}

.info_user {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.info_user h6 {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

.info_user p {
    font-size: 15px;
    margin: 0;
}

.user-icon2 {
    font-size: 180px;
}

.hover-link:hover {
    background-color: #006dac98;
    transition: all 0.3s ease;
}

.conteiner {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-left: 30%;
}

.tabela {
    font-size: 15px;
    display: flex;
    margin-bottom: 30px;
}

.tabela th {
    padding: 30px;
}

.tabela td {
    padding: 30px;
    text-align: center;
}

.titulo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.titulo h1 {
    text-align: center;
    font-size: 20px;
}

.adicionar h1 {
    margin-top: 50px;
    font-weight: bold;
    font-size: 25px;
    margin-right: 50%;
    margin-bottom: 5%;
}

.adicionar {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-left: 50%;
}

.botao-pergunta {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}


.area-perguntas {
    background: hsl(207, 84%, 52%, 7%);
    padding: 20px;
    border-radius: 12px;
    width: 70%;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    margin-inline: 30px;
}

.box-pergunta-forum {
    width: 700px;
    height: 120px;
    background-color: white;
    border-radius: 12px;
    text-align: left;
    padding-top: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    margin-top: 20px;
    overflow-y: auto;

}

.pergunta {
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
    width: 463px;
}

.info-pergunta {
    padding-top: 20px;
    font-size: 12px;
    margin-left: 20px;

}

.user-icon-pergunta {
    font-size: 20px;
    margin-top: -6px;
    color: #006DAC;
}

.usuario-pergunta {
    color: #006DAC;
    font-weight: bold;

}

.data-pergunta {
    color: #999999;
    margin-left: 5px;
}

.status-pergunta {
    color: #F55F38;
    font-weight: bold;
    margin-left: 5px;
}

.area-filtros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.area-filtros select {
    background-color: hsl(202, 100%, 34%, 7%);
}

.card-filtros {
    width: 300px;
    height: 285px;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo-filtro {
    padding-top: 10px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
}

.checkbox-filtro {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-check-input {
    transform: scale(1.5);
}

.card-produtores {
    width: 300px;
    border-radius: 10px;
    padding-inline: 10px;

}

.titulo-produtores {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}


.item-produtor {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}


.icon-yellow,
.icon-yellow2,
.icon-blue,
.icon-orange {
    font-size: 40px;
    margin-right: 10px;
}

.icon-yellow {
    color: #ffbe0b;
    font-size: 30px;
    margin-left: -10px;
}

.icon-yellow2 {
    color: #ffbe0b;
}

.icon-blue {
    color: #0077cc;
    margin-left: 30px;
}

.icon-orange {
    color: #F55F38;
    margin-left: 30px;
}


.nome-produtor {
    margin: 0;
    font-weight: bold;
}


.text-yellow {
    color: #ffbe0b;
}

.text-blue {
    color: #0077cc;
}

.text-orange {
    color: #F55F38;
}

.qtd {
    font-size: 13px;
    color: #777;
}

/*Jogos*/

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 20px;
    height: calc(100vh - 150px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    scrollbar-width: none;
    scrollbar-color: #F5AD00 transparent;
    transition: scrollbar-width 0.3s ease;
    align-content: flex-start;

}

.cards-container:hover {
    scrollbar-width: thin;
}

.cards-container h5 {
    font-weight: 600;
    font-size: 18px;
}

.card {
    width: 300px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 15px;

}

.card img {
    width: 100%;
    height: 120px;
    object-fit: cover;

}

.card-body {
    padding: 12px;
}

.card-produtores-jogos {
    width: 300px;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.card .btn {
    background-color: #F5AD00;
    color: white;
}

.card .btn:hover {
    background-color: white;
    color: #F5AD00;
}

.col-lg-4 .btn {
    margin-top: 20px;
    background-color: #F55F38;
    color: white;

}

.col-lg-4 .btn:hover {
    background-color: white;
    color: #F55F38;
}

/* Vídeo Padronização*/
.video-padronizacao .card {
    height: 620px;
    width: 850px;
}

.video-padronizacao .card-img-top {
    height: 440px;
    object-fit: contain;
    margin-top: 15px;
    border-radius: 30px;
}

.video-padronizacao .card-text {
    font-size: 16px;
    display: flex;
    gap: 30px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 15px;
}

.video-padronizacao .material-aula {
    color: #006DAC;
    display: flex;
    gap: 5px
}

.video-padronizacao .download {
    margin-left: 380px;
    display: flex;
    gap: 5px;
}

.video-padronizacao .btn {
    background-color: #f5ad00;
    color: white;
    border: 1px solid #5f5f5f;
    font-weight: 600;
    border: none;
}

.video-padronizacao .btn:hover {
    background-color: white;
    color: #f5ad00;
}

.video-padronizacao .btn:hover span {
    color: #f5ad00;
}

.video-padronizacao .btn span {
    color: white;
}

.video-padronizacao .btn i {
    font-size: 25px;
}

.card-lateral-videos .card {
    width: 310px;
    height: 450px;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: #F5AD00 transparent;
    transition: scrollbar-width 0.3s ease;
}

.card-lateral-videos .card:hover {
    scrollbar-width: thin;
}

.card-lateral-videos h5 {
    font-weight: 600;
    margin-bottom: 30px;
}

.card-lateral-videos a {
    text-decoration: none;
}

.card-lateral-videos .elementos-card {
    border-radius: 12px;
    border: 1px solid #5f5f5f;
    font-weight: 600;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 15px;
}

.card-lateral-videos p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;
}


.card-lateral-videos .topic {
    flex: 1;
    word-break: break-word;
    overflow-wrap: break-word;
}

/*tela filtro de vídeos*/

.content .btn-voltar {
    font-size: 20px;
    font-weight: 600;
    color: #5B1A00;
    text-decoration: none;

}

.tela-filtro {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

.tela-filtro .card-header {
    background-color: white;
    font-weight: bold;
    color: #5B1A00;
    border-bottom: 1px solid #eee;
    padding: 15px 20px;
}


.tela-filtro .coluna-filtros {
    border-right: 1px solid #dee2e6;
    padding-right: 20px;
}

.tela-filtro .grupo-filtro {
    margin-bottom: 25px;
}

.tela-filtro .check-titulo {
    font-size: 1rem;
    font-weight: 600;
    color: #5B1A00;
    margin-bottom: 10px;
}

.tela-filtro .coluna-botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.tela-filtro .botoes-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.btn-limpar,
.btn-buscar {
    width: 100%;
    padding: 10px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.tela-filtro .btn-limpar {
    background-color: #0069aa;
    height: 50px;
}

.tela-filtro .btn-limpar:hover {
    background-color: white;
    color: #0069aa;

}

.tela-filtro .btn-buscar {
    background-color: #f0a500;
    height: 50px;
}

.tela-filtro .btn-buscar:hover {
    background-color: white;
    color: #f0a500;
}

/*ajuste nos tópicos da página de aulas*/